<div class="container travel-details">

    <h2> Detalles del viaje</h2>
    <hr>
    <p>{{date}}</p>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li><strong>Ciudad de salida: </strong>{{originCity}}</li>
                <li><strong>Ciudad de llegada: </strong>{{destinationCity}}</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li><strong>Plazas disponibles: </strong>{{availablePlaces}}</li>
                <li><strong>Precio del viaje: </strong>{{price}}€</li>
            </ul>
        </div>
    </div>
<div class="row">
    <a href="mailto:{{driver.email}}" class="button seat-reserve">Reserva tu plaza</a>
</div>
    <div id="travelMap"></div>

</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp8zZa3dzt_g6voRaMdianSDuD-CpQPLE"></script>