<div class="container">

    <h1>Route Details</h1>
    <h3> Estos son los detalles del viaje</h3>
    <p>{{originCity}}</p>
    <p>{{destinationCity}}</p>
    <p>{{availablePlaces}}</p>
    <p>{{date}}</p>
    <p>{{driver.email}}</p>
    <div id="travelMap"></div>

</div>



<script src="https://maps.googleapis.com/maps/api/js?key={{process.env.Key}}"></script>
<script type="text/javascript" src="/javascripts/placemap.js"></script>
