<div class="main">
    <div class="main-title">
        <h1 class="title-one" > {{title}}</h1>
    </div>
</div>
<div class="container first-row">
    <div class="row">
        <div class="col-md-6">
            <img src="./images/imagen_car_001.jpg" alt="car">
     
        </div>
        <div class="col-md-6 first-text">
            <h2>¿Dónde quieres ir?</h2>
            <hr>
            <p>Con {{title}} dinos tu dirección y encontraremos el viaje perfecto para ti. Elige con quién quieres viajar y reserva. Llega directamente a tu destino. Comparte coche y olvídate de los transbordos, las colas y las esperas en la estación.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="button">
                <a href="/travel/all-travels">Ver todos los viajes</a>
            </div>
        </div>
    </div>
</div>

<div class="background-icons">
    <div class="container second-container"><br>
        <h3>¿Por qué {{title}}?</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="./images/friends_icon.svg" alt="economy_icon" class="icon">
                <h4>Economía Colaborativa</h4>
                <p>Con {{title}} accede a millones de viajes y encuentra con rapidez gente cerca de ti con tu mismo destino.
                </p>
            </div>
            <div class="col-md-4">
                <img src="./images/planet_icon.svg" alt="planet_icon" class="icon">
                <h4>Medio Ambiente</h4>
                <p>El respeto por el medio ambiente, un valor diferenciador. {{title}} ayuda a reducir un tropecientos por ciento las emisiones.
                </p>
            </div>
            <div class="col-md-4">
                <img src="./images/hucha_icon.svg" alt="save_icon" class="icon">
                <h4>Ahorro personal</h4>
                <p>{{title}} es la app que te ayudará a viajar barato. Hagamos de este, el viaje menos caro de tu vida.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container third-container">
    <div class="row">
        <div class="col-md-6 second-text">
            <h2>¿Quiénes somos?</h2>
            <hr>
            <p>{{title}} es un proyecto creado por Manuel de la Barreda y Javier Fernández, dos jóvenes estudiantes que están haciendo el bootcamp de Web Development de Ironhack</p>
        </div>
        <div class="col-md-6">
            <img src="https://www.autoescuelapremium.es/wp-content/uploads/2019/12/viaje-con-amigos-en-coche.jpg" alt="car">
        </div>
    </div>
</div>