<div class="main">
    <div class="main-title">
        <h1 class="title-one" > {{title}}</h1>
        <h2> Colabora compartiendo <h2>
        </div>
</div>

<div class="container first-row">
    <div class="row">
        <div class="col-md-6">
            <img src="./images/imagen_car_001.jpg" alt="car">
        </div>
        <div class="col-md-6 first-text">
            <h2>¿Dónde quieres ir?</h2>
            <p>{{title}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ipsum sequi. Veritatis, non!
                Autem exercitationem, corrupti ab eveniet, officiis, tempore quisquam sint nemo minima accusamus facilis
                soluta repudiandae amet totam.</p>
        </div>
    </div>
</div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="button">
                <a href="/all-travels">Ver todos los viajes</a>
            </div>
        </div>
    </div>
</div>

<div class="background-icons">
    <div class="container second-container">
        <h3>¿Por qué {{title}}?</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="./images/friends_icon.svg" alt="economy_icon" class="icon">
                <h4>Economía Sostenible</h4>
                <p>{{title}} es la app Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, qui debitis f
                </p>
            </div>
            <div class="col-md-4">
                <img src="./images/planet_icon.svg" alt="planet_icon" class="icon">
                <h4>Medio Ambiente</h4>
                <p>{{title}} es la app Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, qui debitis f
                </p>
            </div>
            <div class="col-md-4">
                <img src="./images/hucha_icon.svg" alt="save_icon" class="icon">
                <h4>Ahorro personal</h4>
                <p>{{title}} es la app Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, qui debitis f
                </p>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container third-container">
    <div class="row">
        <div class="col-md-6 second-text">
            <h2>¿Dónde quieres ir?</h2>
            <p>{{title}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur accusamus blanditiis molestias quos accusantium a optio ipsum illum provident nostrum ex explicabo eum, officia quasi autem obcaecati ab consectetur. Quas!</p>
        </div>
        <div class="col-md-6">
            <img src="https://www.autoescuelapremium.es/wp-content/uploads/2019/12/viaje-con-amigos-en-coche.jpg" alt="car">
        </div>
    </div>
</div>
</div>